{% extends 'base.html' %}

{% block title %}Students - Student Portal{% endblock %}

{% block content %}
<h2 class="mb-4">Students List</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Courses</th>
        </tr>
    </thead>
    <tbody>
        {% for s in students %}
        <tr>
            <td>{{ s.name }}</td>
            <td>{{ s.age }}</td>
            <td>
                {% for c in s.courses %}
                    <span class="badge" style="background-color: #9932cc;">{{ c.name }}</span>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
